@media (min-width: 100px) and (max-width: 400px) {
    /* * -------------------------------------------------------------------------------- */
    /* *                             start style image header                             */
    /* * -------------------------------------------------------------------------------- */

    .top_header {
        height: 13rem;
    }

    /* * -------------------------------------------------------------------------------- */
    /* *                              end style image header                              */
    /* * -------------------------------------------------------------------------------- */
    .carousel-item {
        height: 75%;
        margin-top: 11%;
    }

    /* * -------------------------------------------------------------------------------- */
    /* *                             start style image home page                          */
    /* * -------------------------------------------------------------------------------- */

    .image_artical {
        width: 100%;
        height: 100%;
    }

    /* * -------------------------------------------------------------------------------- */
    /* *                              end style image home page                           */
    /* * -------------------------------------------------------------------------------- */
    .video {
        height: 628px;
    }

    #myVideo {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
